<!DOCTYPE html>
<html ng-app="todoApp">
<head>
    <title>My Todo App</title>
    <link rel="stylesheet" type="text/css" href="node_modules/angular-material/angular-material.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
    <script type="text/javascript" src="node_modules/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="node_modules/angular-aria/angular-aria.min.js"></script>
    <script type="text/javascript" src="node_modules/angular-material/angular-material.min.js"></script>
</head>

<body layout="column" ng-controller="AppCtrl">

<!-- Toolbar with title -->
<md-toolbar layout="row">
    <h1 class="md-toolbar-tools">{{meta.name}} - {{meta.show}}</h1>
</md-toolbar>

<div layout="row" flex>
    <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
        <md-content>
            <md-list>
                <md-list-item ng-repeat="category in categoriesList" ng-click="changeTab(category.title)">
                    <md-icon md-font-set="material-icons">{{category.icon}}</md-icon>
                    <p>{{category.title}}</p>
                    <md-divider></md-divider>
                </md-list-item>
            </md-list>
        </md-content>
    </md-sidenav>

    <div layout="column" flex id="content">

        <md-input-container class="md-block">
            <label for="input_22">Add a to-do...</label>
            <input type="text" ng-model="userTypedText" ng-minlength="1" id="input_22" aria-invalid="false">
            <div class="md-errors-spacer"></div>
        </md-input-container>

        <md-button class="md-button md-raised md-primary" ng-click="addNewTask(userTypedText)">Add</md-button>

        <!-- all -->
        <div ng-if="meta.show === 'All tasks'"
             ng-repeat="(index, one) in DB track by $index">
            <md-card flex-gt-sm="90" flex-gt-md="80"
                     ng-repeat="object in one track by $index">
                <md-card-content ng-click="markTaskAsDone()">
                    <md-checkbox class="eta-task-checkbox" aria-label="{{object.name}}" ng-model="object.done" ng-click="markTaskAsDone(object.id)" data-taskId="{{object.id}}">
                        <span ng-if="object.done === true" class="eta-task-done">{{object.name}}</span>
                        <span ng-if="object.done === false">{{object.name}}</span>
                    </md-checkbox>
                    <i ng-click="objectDelete(index)" class="material-icons eta-task-delete">&#xE872;</i>
                </md-card-content>
            </md-card>
        </div>

        <!-- done -->
        <div ng-if="meta.show === 'Todo'"
             ng-repeat="(index, one) in DB track by $index">
            <md-card flex-gt-sm="90" flex-gt-md="80"
                     ng-repeat="object in one">
                <md-card-content ng-click="markTaskAsDone()" ng-hide="object.done">
                    <md-checkbox class="eta-task-checkbox" aria-label="{{object.name}}" ng-model="object.done" ng-click="markTaskAsDone(object.id)" data-taskId="{{object.id}}">
                        <span ng-if="object.done === true" class="eta-task-done">{{object.name}}</span>
                        <span ng-if="object.done === false">{{object.name}}</span>
                    </md-checkbox>
                    <i ng-click="objectDelete(index)" class="material-icons eta-task-delete">&#xE872;</i>
                </md-card-content>
            </md-card>
        </div>

        <!-- done -->
        <div ng-if="meta.show === 'Done'"
             ng-repeat="(index, one) in DB track by $index">
            <md-card flex-gt-sm="90" flex-gt-md="80"
                     ng-repeat="object in one">
                <md-card-content ng-click="markTaskAsDone()" ng-show="object.done">
                    <md-checkbox class="eta-task-checkbox" aria-label="{{object.name}}" ng-model="object.done" ng-click="markTaskAsDone(object.id)" data-taskId="{{object.id}}">
                        <span ng-if="object.done === true" class="eta-task-done">{{object.name}}</span>
                        <span ng-if="object.done === false">{{object.name}}</span>
                    </md-checkbox>
                    <i ng-click="objectDelete(index)" class="material-icons eta-task-delete">&#xE872;</i>
                </md-card-content>
            </md-card>
        </div>

    </div>
</div>

<!-- Fab button with add dialog -->
<md-button class="md-fab md-fab-bottom-right" aria-label="Add" ng-click="showAdd($event)">
    <md-icon md-font-set="material-icons">add</md-icon>
</md-button>

<script type="text/javascript" src="main.js"></script>
</body>
</html>
